<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
<!--    <HelloWorld msg="Welcome to Your Vue.js App"/>-->
    <div>
      <button @click="connectToWeb3modal" v-if="!connected">Connect</button>
      <button @click="disconnectFromWeb3modal" v-else>Disconnect</button>
    </div>
    <div>connected: {{connected}}</div>
    <div>loading: {{isLoading}}</div>
    <div>connecting to wallet: {{loading.connectToWallet}}</div>
    <div>fetching account data: {{loading.fetchAccountData}}</div>
    <br/>

    <div v-if="connected && !isLoading">
      <div>address: {{walletAddress}}</div>
      <button @click="signWithWeb3">Sign</button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import { defineComponent, ref, onMounted, computed } from "vue";
import Web3 from "web3";
import Web3Modal from "web3modal";

export default defineComponent({
  name: 'Home',
  components: {
    // HelloWorld
  },
  setup(){
    let connected = ref(false);
    let loading = ref({
      connectToWallet: false,
      fetchAccountData: false,
    });
    let walletAddress = ref(null);

    let web3Modal
    let provider;
    let web3;

    /**
     * Setup the orchestra
     */
    const init = ()=> {
      console.log("Initializing example");
      // console.log("WalletConnectProvider is", WalletConnectProvider);

      // Tell Web3modal what providers we have available.
      // Built-in web browser provider (only one can exist as a time)
      // like MetaMask, Brave or Opera is added automatically by Web3modal
      const providerOptions = {
      };

      web3Modal = new Web3Modal({
        cacheProvider: true, // optional
        providerOptions, // required
      });
    }
    init();

    const setEventListeners = ()=>{
      // Subscribe to accounts change
      provider.on("accountsChanged", (accounts) => {
        console.log("accountsChanged");
        console.log(accounts);
        if (accounts.length > 0) {
          console.log(`Using account ${accounts[0]}`)
          fetchAccountData();
          connected.value = true;
          localStorage.setItem('connected', JSON.stringify(connected.value))
        } else {
          console.error('0 accounts.');
          connected.value = false;
          localStorage.setItem('connected', JSON.stringify(connected.value))
        }
      });

      // Subscribe to chainId change
      provider.on("chainChanged", (chainId) => {
        console.log("chainChanged");
        console.log(chainId);
        fetchAccountData();
      });

      // Subscribe to provider connection
      provider.on("connect", (info) => {
        console.log("connected");
        console.log(info);
      });

      // Subscribe to provider disconnection
      provider.on("disconnect", async (error) => {
        console.log("disconnected");
        console.log(error);
        await web3Modal.clearCachedProvider();
        provider = null;
        connected.value = false;
        localStorage.setItem('connected', JSON.stringify(connected.value))
      });
    }
    const checkConnection = async () => {
      // Check if browser is running Metamask
      // if (window.ethereum) {
      //   web3 = new Web3(window.ethereum);
      // } else if (window.web3) {
      //   web3 = new Web3(window.web3.currentProvider);
      //   // or say to install metamask wallet
      // }

      // do not pop up the wallet connection modal if
      // the wallet is disconnected and the user opens the page
      let wasConnected = JSON.parse(localStorage.getItem('connected'));
      if(wasConnected){
        console.log("wasConnected")
        console.log(wasConnected)
      }

      if (wasConnected && web3Modal.cachedProvider) {
        await connectToWeb3modal();
      }
    }

    const fetchAccountData = async ()=> {
      loading.value.fetchAccountData = true;
      try {
        // Get a Web3 instance for the wallet
        web3 = new Web3(provider);
        console.log("web3")
        console.log(web3)

        let addresses = await web3.eth.requestAccounts();
        console.log("addresses")
        console.log(addresses)

        walletAddress.value = addresses[0];
        console.log("walletAddress")
        console.log(walletAddress.value)

        let walletBalanceInWei = await web3.eth.getBalance(walletAddress.value);
        console.log("walletBalanceInWei")
        console.log(walletBalanceInWei)

        let networkName = await web3.eth.net.getNetworkType();
        console.log("networkName")
        console.log(networkName)

        let chainId = await web3.eth.getChainId();
        console.log("chainId")
        console.log(chainId)
      }
      catch (error){
        console.log("catch")
        console.log(error)
      }
      finally {
        loading.value.fetchAccountData = false;
      }
    }

    /**
     * Fetch account data for UI when
     * - User switches accounts in wallet
     * - User switches networks in wallet
     * - User connects wallet initially
     */
    const refreshAccountData = async ()=> {
      await fetchAccountData(provider);
    }

    const connectToWeb3modal = async ()=>{
      loading.value.connectToWallet = true;
      console.log("connectToWeb3modal", web3Modal);
      try {
        provider = await web3Modal.connect();
      } catch(e) {
        console.log("Could not get a wallet connection", e);
        loading.value.connectToWallet = false;
        return;
      }
      setEventListeners();
      await refreshAccountData();
      connected.value = true;
      localStorage.setItem('connected', JSON.stringify(connected.value))
      loading.value.connectToWallet = false;
    }
    const isLoading = computed(() => {
      return loading.value.fetchAccountData || loading.value.connectToWallet
    })
    const disconnectFromWeb3modal = async ()=> {
      console.log("Killing the wallet connection", provider);
      // if(provider && provider.close) {
      //   await provider.close();
      //   // If the cached provider is not cleared,
      //   // WalletConnect will default to the existing session
      //   // and does not allow to re-scan the QR code with a new wallet.
      //   // Depending on your use case you may want or want not his behavir.
      // };
      await web3Modal.clearCachedProvider();
      provider = null;
      connected.value = false;
      localStorage.setItem('connected', JSON.stringify(connected.value))
      // selectedAccount = null;
    }
    onMounted(async () => {
      await checkConnection();
    })

    const signWithWeb3 = async ()=> {
      // first
      // const signedMsg = await web3.eth.sign("Hello world", walletAddress.value);
      // or second
      // const signedMsg = await web3.eth.sign(web3.utils.utf8ToHex("Hello world"), walletAddress.value);
      //or third
      const signedMsg = await web3.eth.sign(web3.utils.sha3("Hello world"), walletAddress.value);
      console.log("signedMsg");
      console.log(signedMsg);
    }
    onMounted(async () => {
      await checkConnection();
    })

    return{
      connected,
      loading,
      walletAddress,
      init,
      setEventListeners,
      checkConnection,
      fetchAccountData,
      refreshAccountData,
      connectToWeb3modal,
      disconnectFromWeb3modal,
      signWithWeb3,
      isLoading
    }
  }
});
</script>
